<html>

<head>

    {{>links}}
    <title>Početna | Tourist</title>

</head>

<body>


    <!-- PRELOADER: HTML i SKRIPTA-->
    <div id="preloader">
        <div id="animacija">
        </div>
    </div>
    <script>
        $(window).on("load", () => {
            $("#animacija").delay(10).fadeOut();
            $("#preloader").delay(100).fadeOut();
        })
    </script>


    {{>header}}
    <div id="login-message"></div>

    <div class="container" style="min-height: 87%;">
        <div class="row">
            <div class="col-md-4 naslov">
                <h1>Oglasi</h1>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form id="oglasiFormFilter" autocomplete="off">
                    <div class="row">
                        <div class="col-md-4">
                            <br>
                            <label>Od:</label>
                            <input id="pocetniDatum-FilterForma" type="date" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <br>
                            <label>Do:</label>
                            <input id="krajnjiDatum-FilterForma" type="date" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <br>
                            <label>Tip:</label> <br>
                            <select name="role" class="form-control" id="status-FilterForma">
                                <option value="generalni">Generalni</option>
                                {{#ifDoubleEquals status "zaposlenik" "admin"}}
                                <option value="specificni">Specificni</option>
                                <option value="agencijski">Agenijski</option>
                                {{/ifDoubleEquals}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <br><br>
                            <button type="submit" class="btn btn-primary">Pretrazi</button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="svi-oglasi">
                    {{#each oglasi}}
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div id="{{this.id}}">
                        <h1>{{this.naslov}}</h1>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px;">
                                <p1>{{subString (specificElement this.sazetak 0) 0 150}} ...</p1>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{subString this.datumKreacije 0 15}}
                            </div>
                            <div class="col-md-1">
                                <p>{{this.status}}</p>
                            </div>
                            <div class="col-md-2 col-md-offset-5">
                                <a class="btn btn-primary" href="/oglasi/{{this.id}}"
                                    style="margin-bottom: 5px; min-width: 100px;">DETALJI</a>
                            </div>
                            {{#ifDoubleEquals ../status "admin" "zaposlenik"}}
                            <div class="col-md-1">
                                <button style="min-width: 100px" class="deleteOglasBtn btn btn-danger"
                                    value="btn-{{this.id}}">OBRISI</button>
                            </div>
                            {{/ifDoubleEquals}}

                        </div>

                    </div>
                    <br>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{>footer}}


    <script id="oglas-template" type="text/html">

        \{{#noviOglasi}}
                            <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                        <h1>\{{this.naslov}}</h1>
                        <p1>\{{this.sazetak}} ...</p1>
                        <div class="row">
                            <div class="col-md-2">
                                \{{ this.datumKreacije}}
                            </div>
                            <div class="col-md-1">
                                <p>\{{this.status}}</p>
                            </div>
                            <div class="col-md-2 col-md-offset-6"  >
                                <a style="min-width: 100px; margin-bottom: 5px;" class="btn btn-primary" href="/oglasi/\{{this.id}}" style="margin-bottom: 5px;">DETALJI</a>
                            </div>
                            \{{#ifDoubleEquals status "admin" "zaposlenik"}}
                            <div class="col-md-1" >
                                <button style="min-width: 100px; margin-bottom: 5px;" class="deleteOglasBtn btn btn-danger" value="btn-\{{this.id}}">OBRISI</button>
                            </div>
                            \{{/ifDoubleEquals}}
                        </div>

        \{{/noviOglasi}}
        <br>
        
    </script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"
        integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw=="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="module" src="/js/prikazOglasa.js"></script>






    <input id="status-usera" value="{{status}}" style="display: none;">
    <div id="foo" style="display: none;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous"></script>
    <script type="module" src="/js/liveChatAdmin.js"></script>
</body>

</html>